  {% extends 'hod_template/base_template.html'  %}
  {% block title_page %}
  Edit Student|Username :{{students.admin.username}} |#ID:{{students.admin.id}}
  {% endblock title_page %}
  {% block main_content %}
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Edit Student</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/edit_student_save" method="post"  enctype="multipart/form-data" >
                    {% csrf_token %}
                  <div class="card-body">
                     <div class="form-group">
                      <label>First Name</label>
                      <input type="text" class="form-control" name="nom" value="{{students.admin.first_name}}">
                      <input type="hidden"  name="student_id" value="{{students.admin.id}}">
                    </div>
                     <div class="form-group">
                      <label>Last Name</label>
                      <input type="text" class="form-control" name="prenom" value="{{students.admin.last_name}}">
                    </div>
                      <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control" name="username" value="{{students.admin.username}}">
                    </div>
                    <div class="form-group">
                      <label>Adresse</label>
                      <input type="text" class="form-control" name="adresse" value="{{students.adresse}}">
                    </div>
                    <div class="form-group">
                      <label>sex</label>
                      <select  class="form-control" name="genre">
                          <option>Choisir le sex</option>
                          <option {% if student.gender == "Masculin" %} selected {% endif %}> Masculin</option>
                          <option {% if student.gender == "Feminin" %} selected {% endif %}> Feminin</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Session_start_year</label>
                      <input type="date" class="form-control" name="start_year" value="{{students.session_start_year| date:"Y-m-d" }}">
                    </div>
                    <div class="form-group">
                      <label>Session_end_year</label>
                      <input type="date" class="form-control" name="end_year" value="{{students.session_end_year| date:"Y-m-d" }}">
                    </div>
                    <div class="form-group">
                      <label>Email address</label>
                      <input type="email" class="form-control" name="email" value="{{students.admin.email}}">
                    </div>
                    <div class="form-group">
                      <label>cours_inscris</label>
                      <select class="form-control" name="cours_id" >
                          {% for course in courses%}
                          <option value="{{course.id}} " {% if course.id == student.coureses_id.id %} selected {% endif %}>{{course.courses_name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label>picture_student</label>
                      <input type="file" class="form-control" name="pic" placeholder="picture_student">
                    </div>
                    <div class="form-group">
                            {% if messages %}
                            <div class="col-12">
                                {% for message in messages %}
                                   {% if message.tags == "success" %}
                                      <div class="alert alert-success" style="margin-top:20px" > {{ message }}</div>
                                   {% endif %}
                                   {% if message.tags == "error" %}
                                      <div class="alert alert-danger" style="margin-top:20px" > {{ message }}</div>
                                   {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                    </div >

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn btn-block">Save Student</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->

            </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  {% endblock main_content %}