  {% extends 'hod_template/base_template.html'  %}
  {% block title_page %}
  Manage Student
  {% endblock title_page %}
  {% block main_content %}
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">liste des eleves</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>first name</th>
                      <th>last name</th>
                      <th>Email</th>
                      <th>Username</th>
                      <th>Adresse</th>
                      <th>sex</th>
                      <th>Profil_pic</th>
                      <th>Session_start_year</th>
                      <th>Session_end_year</th>
                      <th>Cours inscrit</th>
                      <th>Last Login</th>
                      <th>Date Joined</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for students in students %}
                    <tr>
                      <td>{{ students.admin.id }}</td>
                      <td>{{ students.admin.first_name }}</td>
                      <td>{{ students.admin.last_name }}</td>
                      <td>{{ students.admin.email }}</td>
                      <td>{{ students.admin.username }}</td>
                      <td>{{ students.adresse }}</td>
                      <td>{{ students.gender }}</td>
                      <td><img src="{{ students.student_pic }}" style="width:50px"/></td>
                      <td>{{ students.session_start_year }}</td>
                      <td>{{ students.session_end_year }}</td>
                      <td>{{ students.coureses_id.courses_name }}</td>
                      <td>{{ students.admin.last_login }}</td>
                      <td>{{ students.admin.date_joined }}</td>
                      <td><a href="edit_student/{{ students.admin.id }}" class="btn btn-success">edit</a></td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  {% endblock main_content %}