  {% extends 'hod_template/base_template.html'  %}
  {% block title_page %}
  Manage Staff
  {% endblock title_page %}
  {% block main_content %}
   <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Manage Staff</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
              </div>
              <!-- /.card -->

            </div>
          </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  {% endblock main_content %}