{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src= "{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Mon App</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src= "{% static "dist/img/user2-160x160.jpg" %} " class="img-circle elevation-2" alt="User Image" >
        </div>
        <div class="info">
          <a href="#" class="d-block">{{user.username}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
              {% url 'add_staff' as add_staff %}
              <a href="{{add_staff}}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add staff
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'show_manage' as show_manage %}
              {% url 'edit_staff' staffs_id=id as edit_staff %}
              <a href="{{show_manage}}" class="nav-link {% if request.path == show_manage %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Staff
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'add_students' as add_students %}
              <a href="{{add_students}}" class="nav-link {% if request.path == add_students %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Students
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'show_student' as show_student %}
              {% url 'edit_student' student_id=id as edit_student %}
              <a href="{{show_student}}" class="nav-link {% if request.path == show_student %} active {% endif %} {% if request.path == edit_student %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Students
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'add_course' as add_course %}
              <a href="{{add_course}}" class="nav-link {% if request.path == add_course %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Course
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'show_cours' as show_cours %}
              {% url 'edit_cours' cours_id=id as edit_cours %}
              <a href="{{show_cours}}" class="nav-link {% if request.path == show_cours %} active {% endif %} {% if request.path == edit_cours %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Course
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'add_subject' as add_subject %}
              <a href="{{add_subject}}" class="nav-link {% if request.path == add_subject %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Add Subjetct
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              {% url 'show_subject' as show_subject %}
              {% url 'edit_subject' subject_id=id as edit_subject %}
              <a href="{{ show_subject}}" class="nav-link {% if request.path == show_subject %} active {% endif %} {% if request.path == edit_subject %} active {% endif %}">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Manage Subject
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              <a href="/view_attendance" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  View Attendance
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              <a href="/student_feedback" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Student Feedback
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              <a href="/staff_feedback" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Staff Feedback
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              <a href="/student_leave" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Student Leave
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          <li class="nav-item">
              <a href="/staff_leave" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                  Staff leave
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>